babel
beautifulsoup4
patool
portalocker
pydantic
pyshorteners
requests
vk-api
yandex_music
youtube-search-python
yt-dlp
aiohttp>=3.13.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
