babel
beautifulsoup4
patool
portalocker
pydantic
pyshorteners
requests
vk-api
yandex_music
youtube-search-python
yt-dlp
aiohttp>=3.10.2 # not directly required, pinned by Snyk to avoid a vulnerability
